* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background-image: url(Rectangle31.png);
}

.navbar-div {
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;


}

.links {
  display: flex;
  gap: 15px;
}

.navbar-div .links a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px
}

.buttons a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.second-section {
  text-align: center;
  padding-top: 5px;
}

.container .login {
  border: none;
  color: white;
  background-color: #8DD3BB;
  padding: 9px 22px;
  border-radius: 5px;
}

.login a {
  text-decoration: none;
  color: white;
}

.container .signup {
  border: 1px solid #8DD3BB;
  background-color: white;
  padding: 9px 22px;
  border-radius: 5px;
}

.signup a {
  color: #8DD3BB;
  text-decoration: none;
}

.second-section {
  background-image: url("../images/Rectangle\ 31.png");
  padding: 100px 0px
}

.second-section h3 {
  font-size: 30px;
  color: white;
}

.second-section h1 {
  font-size: 50px;
  color: white;
}

.second-section h6 {
  font-size: 20px;
  color: white;
}

.heading {
  margin-bottom: 30px;
}

.feature-div {
  padding: 30px 60px;

}

.first-features-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.first-features-div .features img {
  height: 90px;
  width: 90px;
}

.feature-text ul {
  display: flex;
  gap: 10px;
}

.feature ul li a {
  text-decoration: none;
  color: black;
}

.feature ul li {
  list-style-type: none;
}

.first-features-div .feature {
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  width: 270px;
  border-radius: 15px;
}

.third-section-div {
  display: flex;
  justify-content: center;
  gap: 20px;

}

.flights {
  background-image: url("../images/Rectangle\ 40.png");
  height: 560px;
  display: flex;
  align-items: end;
  text-align: center;

}

.hotels {
  background-image: url("../images/Rectangle\ 41.png");
  height: 560px;
  display: flex;
  align-items: end;
  text-align: center;
}

.text h3 {
  color: white;
}

.text p {
  color: #D9D9D9
}

.text button {
  background-color: #8DD3BB;
  padding: 10px;
}

.third-section-div .text {
  padding: 20px 60px;
}

.reviews-div {
  display: flex;
  justify-content: center;
  text-align: start;
  gap: 20px
}

.reviews-heading {
  margin: 10px 200px;
}


.reviews-div {
  margin: 20px 60px;
}

.review-1,
.review-2,
.review-3 {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: 10px 10px 20px rgba(141, 211, 181, 0.9);

  margin: 20px;
  padding: 20px 30px;
  height: 620px;
  width: 420px;

}

.review-1,
.review-2,
.review-3,
p {
  color: #112211;
}

.reviews-div .button {
  border: none;
}

#myBtn {
  border: none;
  color: #112211;
  display: flex;
  align-items: end
}

.review-1,
.review-2,
.review-3,
p,
img,
h4,
h3,
button {
  margin-top: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 80px 200px;
  padding: 20px;
  height: 305px;
  width: 1200px;
  background-color: #a7ddca;
  border-radius: 15px;
}

.footer-heading {
  text-align: start;

}

.footer-heading h2,
h5,
p {
  font-size: 20px;
  padding-bottom: 25px;
}

.footer-heading h2 {
  font-size: 26px;
}

.footer-heading button {
  padding: 10px;
  color: white;
  background-color: #112211;
}

.footer-heading input {
  padding: 10px;
  padding-right: 205px;
}

.second-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 40px;
  background-color: #8DD3BB;
  padding: 20px 40px;
  height: 400px;
  width: 1400px;

}

.footer-list th li {
  list-style-type: none;
}